body{
    background-color: #0F0F0F;
}

a{
    text-decoration: none;
}


/*Cards*/
.card{
    width: 11rem; 
    background-color: #2B3035; 
    border: none; 
    margin: 0px 2px 4px 2px;
    padding: 0px;
}
.card-text{
    text-align: center;
    color: white;
}

@media(max-width: 404px){
    .card{
        width: 10rem;
    }

}

/*Bloco de notícias*/
.bloco-noticia{
    margin-bottom: 10px;
}

.estrutura-bloco-noticia{
    position: relative;
    justify-content: start;
    background-color: #2B3035;
    max-width: 50rem;
    align-items: center;
    padding: 12px 0px 12px 0px;
    border-radius: 3px;
    margin-left: 2%;
}


.conteudo-bloco-noticia{
    color: white;
    word-wrap: break-word;
}

.img-bloco-noticia{
    margin-bottom: 10px;
}

.tag-a-noticia{
    width: 0px;
    height: 0px;
}

a.tag-a-color{
    text-decoration: none;
    color: #FF7B00;
}
a.tag-a-color:hover{
    color: #ff8b26;
}

.titulo-bloco-noticia{
    color: #FF7B00;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.resumo-bloco-noticia{
    margin-bottom: 5px;
}

@media(max-width: 767.20px){
    .estrutura-bloco-noticia{
        width: 96%;

    }
}

/*pagina de noticia*/

.noticia{
    background-color: #2B3035;
    max-width: 50rem;
    padding: 12px;
}

.titulo-noticia{
    color: #FF7B00;
    word-wrap: break-word;
    margin-bottom: 8px;
}


.paragrafo-noticia{
    color: white;
}

.subtitulo-noticia{
    color: white;
    word-wrap: break-word;
}

.data-publicacao{
    color: #6D6D6D;

}

.copyright-noticia{
    color: #6D6D6D;
    text-align: center;

}

.iframe-noticia{
    max-width: 560px;
    height: 302px;
}

.texto-destacado-noticia{
    color: #FF7B00;
}

.fonte-noticia{
    color: #6D6D6D;
}

.paragrafo-noticia, .copyright-noticia, .iframe-noticia, .texto-destacado-noticia{
    margin-bottom: 20px;

}


/*página de contato*/

.campo-comentario{
    max-width: 600px;
}
    /*rodape da pagina de contato*/
    @media(min-width: 288px){
        #rodape-pagina-contato{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        .main {
            position: relative;
        }
    }